.lang_radio-invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);

}

.lang_radio-visible {
   
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;
}

@media screen and (max-width: 767px) {
    .lang_radio-visible {
        margin-bottom: 8px;
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (min-width: 768px) {
    .lang_radio-visible {
        margin-bottom: 6px;
        font-size: 24px;
        line-height: 28px;
    }
}