.footer__link {
    margin: 0 18px 0 0;
    font-size: 16px;
    line-height: 1.125;
    font-weight: 400;
}

.footer__link:hover {
    opacity: 0.7;
}

.footer__link:last-of-type {
    margin: 0;
}

@media screen and (max-width:767px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 0 0 32px 0;
    }
}