.cover__text {
    z-index: 2;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}