.lead__subtitle {
    text-align: center;
    font-weight: 400;
    width: 640px;
    margin: 0 auto 56px;
    font-size: 30px;
    line-height: 1.2;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        width: 288px;
        margin: 0 auto 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1279px) {
    .lead__subtitle {
       margin-bottom: 64px;
    }
}
